# Ignore .htaccess
/.htaccess*
/.htpasswd*
/robots.txt
/test.txt*


# Ignore everything in default directory
sites/default/*
sites/default/.*

# Ignore configuration files that may contain sensitive information.
sites/*/*settings*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Civi extensions cache files
sites/all/civicrm_extensions/cache