p, div, body, p, div, body { font-family: 'Arial', , Helvetica, Arial, sans-serif; font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6, h1, h2, h3, Slideshow Slide { font-family: 'Coolvestiva'; font-style: normal; font-weight: normal; }
